@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,600);

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  color: #383838;
}
h1, h2, h3, h4, h5, h6, p {
  font-family: 'Raleway', 'Helvetica Neue', "Helvetica", sans-serif;
  font-weight: 400;
}
p {
  font-family: 'Lato', 'Helvetica Neue', "Helvetica", sans-serif;
}

a {
  color: #327CCB;
}
a:hover {
  color: #2567AD;
}

hr {
  margin: 24px 0;
}

header {
  background-color: #2E4051;
  padding: 72px 0;
  text-align: center;
}
header a {
  color: #fff;
  text-decoration: underline;
}
header a:hover {
  color: #fff;
}
header img {
  position: absolute;
  left: 3px;
  top: 3px;
}
header h1,
header h2,
header h3,
header h4,
header h5,
header p {
  color: #fff;
  margin-bottom: 6px;
}

header h4 {
  margin-bottom: 0;
}

.profile {
  background-color: #fff;
  border-radius: 50%;
  width: 131px;
  height: 131px;
  margin: 0 auto 24px auto;
  position: relative;
}

.sub-header {
  padding: 60px 0;
  text-align: center;
}

.has-line {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-bottom: 48px;
}
.has-line:before {
  border-top: 1px dotted #d1d1d1;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.has-line span {
  background: #fff;
  padding: 0 20px;
}

.project {
  margin-bottom: 24px;
}
.project h4 {
  margin-bottom: 6px;
}
.project .description {
  margin-bottom: 24px;
}
.project .date {
  color: #999;
  margin-bottom: 6px;
}

footer {
  text-align: center;
  margin-bottom: 48px;
}
footer a {
  font-size: 2.4rem;
  margin-right: 1rem;
}

.projects {
  margin-bottom: 48px;
}
.projects .project-nav a:nth-child(2) {
  margin-left: 10px;
  padding-left: 10px;
  border-left: solid 1px #d1d1d1;
}

.project-page .projects {
  padding-top: 48px;
}
.project-page .projects h4 {
  margin: 24px 0 12px 0;
}
.project-page .projects h4:first-child {
  margin-top: 0;
}
.project-page .projects img {
  margin-bottom: 24px;
}
.project-page .projects p {
  margin-bottom: 24px;
}

.project-page.iris header {
  background: #2E4051 url("../img/iris-splash.jpg");
  background-size: cover;
  background-position: center;
  width: auto;
}
.project-page.onboarding header {
  background: #2E4051 url("../img/onboarding-splash.jpg");
  background-size: cover;
  background-position: center;
  width: auto;
}
.project-page.clio-payments header {
  background: #2E4051 url("../img/clio-payments-splash.jpg");
  background-size: cover;
  background-position: center;
  width: auto;
}

.outer {
  background-color: #D8D8D8;
  border-radius: 4px;
  padding: 5px 10px 10px 10px;
}
.circle-container {
  margin: 0 0 5px 10px;
}
.circle {
  display: inline-block;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  background-color: #7F7E7D;
  margin-right: 2px;
}
.inner {
  background-color: #fff;
  height: 200px;
  width: auto;
}