@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Lato', 'Helvetica Neue', "Helvetica", sans-serif;
  margin: 0;
}

header {
  background-color: #327CCB;
  border-top: solid 12px #1E70C6;
  padding: 36px 0;
  text-align: center;
}
header a {
  color: #fff;
  text-decoration: underline;
}
header a:hover {
  color: #fff;
}
header img {
  position: absolute;
  left: 3px;
  top: 3px;
}
header h1,
header h2,
header h3,
header h4,
header h5,
header p {
  color: #fff;
  margin-bottom: 6px;
}

header h4 {
  margin-bottom: 0;
}

.profile {
  background-color: #fff;
  border-radius: 50%;
  width: 131px;
  height: 131px;
  margin: 0 auto;
  position: relative;
}

.sub-header {
  padding: 36px 0;
}

.has-line {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-bottom: 36px;
}
.has-line:before {
  border-top: 1px dotted #d1d1d1;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.has-line span {
  background: #fff;
  padding: 0 20px;
}

.project {
  margin-bottom: 24px;
}
.project h4 {
  margin-bottom: 6px;
}
.project .description {
  margin-bottom: 12px;
}
.project .date {
  color: #999;
  margin-bottom: 6px;
}

footer {
  text-align: center;
  margin-bottom: 24px;
}
footer a {
  font-size: 2.4rem;
  margin-right: 1rem;
}

.project-page .projects {
  padding-top: 36px;
}
.project-page .projects h4 {
  margin: 24px 0 12px 0;
}
.project-page .projects h4:first-child {
  margin-top: 0;
}
.project-page .projects img {
  margin-bottom: 24px;
}
.project-page .projects p {
  margin-bottom: 12px;
}

.project-page.iris header {
  background: #327CCB url("../img/iris-splash.jpg");
  background-size: cover;
  background-position: center;
  width: auto;
}
.project-page.onboarding header {
  background: #327CCB url("../img/onboarding-splash.jpg");
  background-size: cover;
  background-position: center;
  width: auto;
}

.outer {
  background-color: #D8D8D8;
  border-radius: 4px;
  padding: 5px 10px 10px 10px;
}
.circle-container {
  margin: 0 0 5px 10px;
}
.circle {
  display: inline-block;
  border-radius: 50%;
  width: 7px;
  height: 7px;
  background-color: #7F7E7D;
  margin-right: 2px;
}
.inner {
  background-color: #fff;
  height: 200px;
  width: auto;
}